@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --main-color: #355ee1;
}

.search-input {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.search-input.active {
    visibility: visible;
    opacity: 1;
}

.search-icon {
    cursor: pointer;
}

.logo {
    padding: 7px 12px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color: var(--main-color);
}

.logo-text {
    color: var(--main-color);
}

.category {
    background-color: var(--main-color);
}